* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;

}
/* Main Layout Styles */

.name {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}

.profile {
  width: 70%;
}

.intro {
  font-size: 1.5em;
  margin-bottom: 175px;
}

.title {
  margin-bottom: 75px;
}

.main-nav a:link {
  text-align: center;
  font-weight: 700;
  font-size: 1.25em;
  color: black;
  text-decoration: none;
}

.main-nav li {
  background-color: white;
  padding: 10px;
  margin: 5px;

}

.main-header {
  text-align: center;
  margin-bottom: 50px;
}

.main-nav {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  /* background-color: #f7f7f7; */
  margin-left: 20px;
  margin-right: 20px;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.col {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.25em;
}

.col h2 {
  font-weight: 400;
}

.section {
  text-align: center;
}

.contact {
  text-align: center;
  margin-top: 100px;
}

.bottom-bar {
  border-top: 2px solid #cccccc;
  padding: 30px 10px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.bottom-name {
  float: left;
  font-weight: 800;
  text-align: left;

}

.back-to-top {
  float: right;
  font-weight: 800;
  text-align: right;
}

.bottom-bar a:link {
  text-decoration: none;
}

.portfolio {
  margin-bottom: 100px;
}

.bottom-nav {
  display: none;
}





/* Media Queries */

@media (min-width: 768px) {

  .main-nav {
    text-align: center;
    height: 50px;
  }

  .top-bar {
    margin-bottom: 50px;
  }

  .main-nav li {
    display: inline-block;
    width: auto;
    text-align: center;
  }

  .portfolio {
    margin-bottom: 50px;
  }

  .profile {
    float: right;
    width: 40%;
    padding-right: 20px;
  }

  .intro {
    width: 50%;
    text-align: left;
    font-size: 1.25em;
    padding-left: 20px;
    margin-bottom: 75px;

  }

  .col {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .main-header {
    padding-bottom: 0;
  }

  .title {
    margin-top: 50px;
    font-size: 1em;
    margin-bottom: 50px;
  }

  .group:after {
  content: "";
  display: table;
  clear: both;
  }

  h2 {
    font-size: 1em;
  }

  .col p {
    font-size: .75em;
  }

  .contact {
    margin-top: 50px;
    padding: 0 10%;
    text-align: center;
    margin: 0 25px;

  }

  .contact p {
    font-size: 1.25em;
  }

.back-to-top {
  display: none;
  }

.bottom-nav {
  display: inline-block;
  float: right;

  }

.bottom-nav li {
  float: left;
  margin-right: 25px;
  width: auto;
  text-align: right;
  }

.bottom-nav a:link {

  font-weight: 700;
  font-size: 1em;
  color: black;
  text-decoration: none;
  }

.bottom-nav {
  padding-bottom: 20px;
  }

}


@media (min-width: 1024px) {

  .name {
    float: left;
    margin-left: 20px;
  }

  .main-nav {
    text-align: right;
    position: absolute;
    top: 20px;
    right: 5%;
  }


  .main-nav {
    /* float: right; */
  }
  /* .main-nav {
    float: right;
    display: table;
  content: "";
  clear: both;
  } */

  .top-bar {
    margin-top: 50px;
  }

  .main-nav  li {
    float: left;
  }

  .main-header {
    margin-right: 5%;
    margin-left: 5%;
  }
  .col {
    float: left;
    width: 33.3%;
  }

  .portfolio {
    margin: 5%;
    text-align: center;
  }

  

  .contact p {
    width: 40%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
